body {
  font-family: "Tahoma", "Helvetica", "Arial",  "Verdana", "sans-serif";
//  font-size: 10px;
}

text {
//  font: 12pt sans-serif;
}

.ui-widget {
  font-size: 8pt;
}

.ui-tabs .ui-tabs-nav li a {
  font-size: 8pt;
  font-weight: bold;
}

.nmon-chart {
  border-size:0px;
  border-style:none;
  border-radius:10px;
  border-color:black;
  font-size:12pt;
  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  width: 800px;
  height: 600px;
}

.serverinsight {
  border-size:0px;
  border-style:none;
  border-radius:10px;
  border-color:black;
  font-size:12pt;
  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  width: 600px;
  height: 669px;
}

.nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: 1;
}
