<!DOCTYPE=html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script type="text/javascript">
        function getHosts(category) {
                $.ajax({
                url: "/All/" + category + "/hosts",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    var html = '<option value="All">All</option>';
                    for (var i = 0; i < result.length; i++) {
                        html += '<option value="' + result[i] + '">' + result[i] + '</option>';
                    }
                    $("#hosts").html(html);
                }
            });
        }

        function drawChart(did, x, y, label, row, stack) {
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', x);
            for(var i = 0; i < y.length; i++) {
                data.addColumn('number', y[i]);
            }
            for(var i = 0; i < row.length; i++) {
                row[i][0] = new Date(row[i][0]);
            }
            data.addRows(row);

            var options = {
                vAxis : { title : label },
                isStacked : stack
            };

            var chart = new google.visualization.AreaChart(document.getElementById(did));
            chart.draw(data, options);
        }

        function updateGraph(hostname, fromDate, toDate) {
            console.log(fromDate + " " + fromDate.getTime());
            console.log(toDate + " " + toDate.getTime());

            var start = +new Date();
            // cpu
            $.ajax({
                url: "/" + hostname + "/CPU_ALL?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['User%25', 'Sys%25', 'Wait%25']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    drawChart("cpu_chart", "time", ['User%', 'Sys%', 'Wait%'], '%', result, true);
                    console.log('cpu chart :' + (+new Date() - start));
                }
            });

            // memory
            $.ajax({
                url: "/" + hostname + "/MEM?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['active', 'inactive', 'memfree']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    drawChart("mem_chart", "time", ['active', 'inactive', 'memfree'], 'MB', result, true);
                    console.log('mem chart :' + (+new Date() - start));
                }
            });

            // swap
            $.ajax({
                url: "/" + hostname + "/MEM?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['swaptotal', 'swapfree']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    for(var i = 0; i < result.length; i++) {
                        result[i][2] = result[i][1] - result[i][2];
                    }
                    drawChart("swap_chart", "time", ['swaptotal', 'used'], 'MB', result, false);
                    console.log('swap chart :' + (+new Date() - start));
                }
            });

            // disk
            $.ajax({
                url: "/" + hostname + "/DISK_TOTAL?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['read', 'write']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    drawChart("disk_chart", "time", ['read', 'write'], 'KB/s', result, true);
                    console.log('disk chart :' + (+new Date() - start));
                }
            });

            // network
            $.ajax({
                url: "/" + hostname + "/NET_TOTAL?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['read', 'write']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    drawChart("network_chart", "time", ['read', 'write'], 'KB/s', result, true);
                    console.log('network chart :' + (+new Date() - start));
                }
            });
        }

        $(function() {
            getHosts('CPU_ALL');
            var today = new Date();
            $("#from").val((today.getMonth() + 1) + "/" + today.getDate() + "/" + today.getFullYear());
            $("#to").val("now");
            $("#view").click(function(event) {
                var fromDate = new Date($("#from").val());
                var toDate = new Date();
                if ($("#to").val() !== "now") {
                    toDate = new Date($("#to").val());
                    toDate.setDate(toDate.getDate() + 1);
                }
                updateGraph($("#hosts").val(), fromDate, toDate)
            });
            var fromDate = new Date($("#from").val());
            var toDate = new Date();
            updateGraph('All', fromDate, toDate);
        });
    </script>

    <style>

.googlechart {
    border-size:2px;
    border-style:dotted;
    border-radius:10px;
    border-color:black;
    margin-top:10px;
    font-size:15px;
    padding:10px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    width: 1024px;
    height: 576px;
}

    </style>
  </head>

  <body>

    <h3><font color=blue>NMONW</font></h3>
    <div class="menu">
        <label for="hosts">host : </label>
        <select name="hosts" id="hosts">
        </select>

        <label for="from">from : </label>
        <input type="text" id="from">

        <label for="to">to : </label>
        <input type="text" id="to">    

        <button type="button" id="view">View</button>    

        <a href="/detail" style="float: right;">Detail</a>
    </div>
    <div style="display: inline-block; width: 1044px;">
        <h4><font color=blue>CPU</font></h4>
        <div id="cpu_chart" class="googlechart"></div>
    </div>
    <div style="display: inline-block; width: 1044px;">
        <h4><font color=blue>Memory</font></h4>
        <div id="mem_chart" class="googlechart"></div>
    </div>
    <div style="display: inline-block; width: 1044px;">
        <h4><font color=blue>Swap</font></h4>
        <div id="swap_chart" class="googlechart"></div>
    </div>
    <div style="display: inline-block; width: 1044px;">
        <h4><font color=blue>Disk</font></h4>
        <div id="disk_chart" class="googlechart"></div>
    </div>
    <div style="display: inline-block; width: 1044px;">
        <h4><font color=blue>Network</font></h4>
        <div id="network_chart" class="googlechart"></div>
    </div>
    <div style="display: inline-block; width: 1044px;">
        <h4><font color=blue>Process</font></h4>
        <div id="process_chart" class="googlechart"></div>
    </div>
    <div style="display: inline-block; width: 1044px;">
        <h4><font color=blue>NFS</font></h4>
        <div id="nfs_chart" class="googlechart"></div>
    </div>

  </body>
</html>
