        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <% include nmdb-nav-top %>
            <% include nmdb-nav-side %>
        </nav>
