                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Server Insight
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6 col-sm-6">
                              <div id="server_insight_chart1" class="server_insight" style="display: inline-block;"></div>
                            </div> <!-- /.col-md-6 col-sm-6 -->
                            <div class="col-md-6 col-sm-6">
                              <div id="server_insight_chart2" class="server_insight" style="display: inline-block;"></div>
                            </div> <!-- /.col-md-6 col-sm-6 -->
                            <script type="text/javascript" src="dist/js/nmdb-serverinsight.js"></script>
                          </div>
                          <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
