            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/nmon-db/v1/main"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Server Utilization Trend<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="nmon-charts">Nmon Charts</a>
                                </li>
                                <li>
                                    <a href="nmon-reports">Nmon Reports</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="nmdb-server-inventory"><i class="fa fa-briefcase fa-fw"></i> Server Inventory</span></a>
                        </li>
                        <li>
                            <a href="nmdb-agents"><i class="fa fa-location-arrow fa-fw"></i> Nmon Agents</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-stethoscope fa-fw"></i> Service Health Check</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="login-sample"><i class="fa fa-database fa-fw"></i> Database Health Check</a>
                                </li>
                                <li>
                                    <a href="tables">Web Server Health Check</a>
                                </li>
                                <li>
                                    <a href="forms">WAS Server Health Check</a>
                                </li>
                                <li>
                                    <a href="flot">Server Network Health Check</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login-sample"><i class="fa fa-sign-in fa-fw"></i> Login Page</a>
                                </li>
                                <li>
                                    <a href="tables"><i class="fa fa-table fa-fw"></i> Tables</a>
                                </li>
                                <li>
                                    <a href="forms"><i class="fa fa-edit fa-fw"></i> Forms</a>
                                </li>
                                <li>
                                    <a href="flot">Flot Charts sample</a>
                                </li>
                                <li>
                                    <a href="morris">Morris.js Charts sample</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography">Typography</a>
                                </li>
                                <li>
                                    <a href="icons"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
