            <div class="navbar-header">
            	<!--menu toggle button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/nmon-db/v1/main">Nmon Dashboard v1.0.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <button id="menu-toggle" type="button" data-toggle="button" class="btn btn-default btn-xs">
                        <i class="fa fa-exchange fa-fw"></i>
                    </button>
                </li>
                <% include nmdb-nav-dropdown-messages %>
                <% include nmdb-nav-dropdown-serverstatus %>
                <% include nmdb-nav-dropdown-alerts %>
                <% include nmdb-nav-dropdown-user %>
            </ul>
            <!-- /.navbar-top-links -->
