            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/nmon-db/v1/main">Nmon Dashboard v1.0.0</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>nmon-base</strong>
                                        <span class="pull-right text-muted">70%</span>
                                    </p>
                                    <span class="pull-left text-muted">CPU (3)&nbsp;</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 35%">
                                            <span class="sr-only">User 35%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: 5%">
                                            <span class="sr-only">Nice 5%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: 10%">
                                            <span class="sr-only">System 10%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-info" style="width: 20%">
                                            <span class="sr-only">Wait 20%</span>
                                        </div>
                                    </div>
                                    <!-- TODO: show after good design and configurable
                                    <p>
                                        Mem: / Swap: / I/O: / Network: 
                                    </p>
                                    -->
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>bexsvr</strong>
                                        <span class="pull-right text-muted">27.5%</span>
                                    </p>
                                    <span class="pull-left text-muted">CPU (1)&nbsp;</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 2%">
                                            <span class="sr-only">User 5%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: 1%">
                                            <span class="sr-only">Nice 5%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: 7%">
                                            <span class="sr-only">System 7%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-info" style="width: 17.5%">
                                            <span class="sr-only">Wait 10.5%</span>
                                        </div>
                                    </div>
                                    <!-- TODO: show after good design and configurable
                                    <p>
                                        Mem: / Swap: / I/O: / Network: 
                                    </p>
                                    -->
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>jira-edu</strong>
                                        <span class="pull-right text-muted">30%</span>
                                    </p>
                                    <span class="pull-left text-muted">CPU (1)&nbsp;</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 15%">
                                            <span class="sr-only">User 15%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: 2%">
                                            <span class="sr-only">Nice 2%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: 5%">
                                            <span class="sr-only">System 5%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-info" style="width: 8%">
                                            <span class="sr-only">Wait 8%</span>
                                        </div>
                                    </div>
                                    <!-- TODO: show after good design and configurable
                                    <p>
                                        Mem: / Swap: / I/O: / Network: 
                                    </p>
                                    -->
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>nmrep-dev</strong>
                                        <span class="pull-right text-muted">60%</span>
                                    </p>
                                    <span class="pull-left text-muted">CPU (2)&nbsp;</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 50%">
                                            <span class="sr-only">User 10%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-warning" style="width: 2%">
                                            <span class="sr-only">Nice 2%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-danger" style="width: 5%">
                                            <span class="sr-only">System 5%</span>
                                        </div>
                                        <div class="progress-bar progress-bar-info" style="width: 3%">
                                            <span class="sr-only">Wait 3%</span>
                                        </div>
                                    </div>
                                    <!-- TODO: show after good design and configurable
                                    <p>
                                        Mem: / Swap: / I/O: / Network: 
                                    </p>
                                    -->
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See server usage details</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

