<html>
  <head>
    <meta charset="UTF-8">
    <meta name="title" content="Nmon.io Dashboard - Dashboard, Report and Analyze service for your nmon data">
    <meta name="description" content="nmon. website providing nmon dashboard, report and analyze service in cloud">
    <meta name="keywords" content="Nmon,nmon analyzer,nmon report,Linux,AIX,Solaris,sarmon,topas_nmon,server,database server">
    <meta name="author" content="Junkoo Hea">  
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script type="text/javascript">
        function getCategories(host) {
                $.ajax({
                url: '/api/v1/nmon-data/categories/' + host,
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    var html = '';
                    for (var i = 0; i < result.length; i++) {
                        html += '<option value="' + result[i] + '">' + result[i] + '</option>';
                    }
                    $("#categories").html(html);
                }
            });
        }
        function getHosts(category) {
                $.ajax({
                url: "/api/v1/server/list",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    var html = '<option value="All">All</option>';
                    for (var i = 0; i < result.length; i++) {
                        html += '<option value="' + result[i] + '">' + result[i] + '</option>';
                    }
                    $("#hosts").html(html);
                }
            });
        }
        function getTitles(host, category) {
                $.ajax({
                url: "/api/v1/nmon-data/fields/" + host + "/" + category,
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    var html = '';
                    for (var i = 0; i < result.length; i++) {
                        html += '<option value="' + result[i] + '">' + result[i] + '</option>';
                    }
                    $("#fields").html(html);
                }
            });
        }
        function drawChart(x, y, row) {
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', x);
            data.addColumn('number', y);
            console.log('Row count: ' + row.length);

            for(var i = 0; i < row.length; i++) {
                row[i][0] = new Date(row[i][0]);
                row[i][1] = +row[i][1];
            }

            data.addRows(row);

            var options = {
                //explorer : { axis: 'horizontal' },
                hAxis : { title : x },
                vAxis : { title : y }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
        }
        $(function() {
            $("#hosts").change(function() {
                getCategories($("#hosts").val());
            });
            $("#categories").change(function() {
                getTitles($("#hosts").val(), $("#categories").val());
            });
            $("#view").click(function(event) {
                $.ajax({
                    url: "/api/v1/nmon-perf/" + $("#hosts").val() + "/" + $("#categories").val() + "?data=['" + escape($("#fields").val()) + "']",
                    data: {},
                    success: function( data ) {
                        var result = eval(data);
                        drawChart("time", $("#fields").val(), result);
                    }
                });
                console.log('[Requesting data] ' + 'server-name=' + $("#hosts").val() + ', categories=' + $("#categories").val()
                          + ', fields=' + $("#fields").val());
            });
            getHosts();
        });
    </script>
  </head>
  <body>
    <h1>NMONW</h1>
    <div class="menu">
        <label for="hosts">host : </label>
        <select name="hosts" id="hosts">
        </select>

        <label for="categories">category : </label>
        <select name="categories" id="categories">
        </select>

        <label for="fields">field : </label>
        <select name="fields" id="fields">
        </select>

        <button type="button" id="view">View</button>

        <a href="/" style="float: right;">Dashboard</a>
    </div>
    <div id="curve_chart" style="width: 1280px; height: 720px"></div>
  </body>
</html>
