<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/nmdb-head %>
    <!-- nmon-db-client.js -->
    <script src="dist/js/nmon-db-client.js" charset="utf-8"></script>
</head>

<body>
    <div id="wrapper">
        <% include partials/nmdb-nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <% include partials/nmdb-summary-boxes %>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <% include partials/nmdb-server-insight %>
                    <% include partials/nmdb-process-insight.ejs %>
                    <% include partials/nmdb-server-insight-old %>
                    <% include partials/example-areachart %>
                    <% include partials/example-barchart %>
                    <% include partials/nmdb-timeline %>
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <% include partials/example-donutchart %>
                    <% include partials/nmdb-notifications %>
                    <% include partials/nmdb-chat %>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Morris Charts JavaScript -->
    <script src="/bower_components/raphael/raphael.min.js"></script>
    <script src="/bower_components/morrisjs/morris.min.js"></script>
    <script src="dist/js/morris-data.js"></script>

    <% include partials/nmdb-footer %>
</body>

</html>
