<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/nmdb-head %>
</head>

<body>
    <div id="wrapper">
        <% include partials/nmdb-nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-dashboard fa-fw"></i> Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <% include partials/nmdb-summary-boxes %>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-9">
                    <% include partials/nmdb-server-insight %>
                    <% include partials/nmdb-server-insight-old %>
                    <% include partials/nmdb-timeline %>
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-3">
                    <% include partials/nmdb-process-insight.ejs %>
                    <% include partials/nmdb-notifications %>
                    <% include partials/nmdb-chat %>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <% include partials/nmdb-footer %>

    <script src="dist/js/nmon-db-client.js"></script>
</body>

</html>
