<!DOCTYPE html>
<html lang="en_US">

<head>
    <% include partials/nmdb-head %>
    <link href="dist/css/nmon-db-rangeslider.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <% include partials/nmdb-nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-area-chart fa-fw"></i> Nmon Charts</h1>
                </div> <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-calendar fa-fw"></i> Analyze period
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- /.panel-heading -->
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6 col-sm-6">
                              <b>Select analyze period ( default: recent 2 hours )</b>
                              <div class="inner-addon left-addon">
                                <input type="text" id="analyze-period" class="form-control">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 col-sm-12">
                              <b>Navigate in analyze period</b>
                              <div id="period-navigator"></div>

                            </div>
                          </div>
<!-- TODO: old codes... need to be removed
     <table>
        <tr>
            <th>Date&nbsp;</th>
            <td><input type="text" id="from" maxlength="10" size="10"></td>
            <td><input type="text" id="to" maxlength="10" size="10"></td>
            <td>&nbsp;&nbsp;</td>
            <td><div id="slider-range-date"></div></td>
        </tr>
        <tr>

        <tr>
            <td>&nbsp;</td>
            <th><label for="from">From</label></th>
            <th><label for="to"> To </label></th>
            <th>&nbsp;&nbsp;</th>
            <th width="300">Range</th>
        </tr>
        <tr>
            <th>Time&nbsp;</th>
            <td><input type="text" id="from_time" maxlength="8" size="10"</td>
            <td><input type="text" id="to_time" maxlength="8" size="10"</td>
            <td>&nbsp;&nbsp;</td>
            <td><div id="slider-range-time"></div></td>
        </tr>
    </table>
-->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Nmon Charts
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <label for="hosts">&nbsp; Host &nbsp;</label>
                                <select name="hosts" id="hosts"></select>&nbsp;
                                <button type="button" id="view">View</button>&nbsp;
                                <a href="/detail" style="float: right;">Detailed View &nbsp;</a>
                            </div> <!-- end of .row -->
                            <div class="row">
                                <div id="tabs">
                                    <ul>
                                        <!--<li><a href="#hosts_chart">Hosts</a>-->
                                        <li><a href="#cpu_chart">CPU</a>
                                        <li><a href="#mem_chart">Memory</a>
                                        <li><a href="#swap_chart">Swap</a>
                                        <li><a href="#disk_chart">Disk</a>
                                        <li><a href="#network_chart">Network</a>
                                        <li><a href="#nfs_chart">NFS</a>
                                        <li><a href="#process_cpu_chart">Process CPU Usage</a>
                                        <li><a href="#process_mem_chart">Process Memory Usage</a>
                                        <li><a href="#process_bubble_chart">Process Bubble Chart</a>
                                    </ul>
                                    <div id="cpu_chart" class="nmon-chart"></div>
                                    <div id="mem_chart" class="nmon-chart"></div>
                                    <div id="swap_chart" class="nmon-chart"></div>
                                    <div id="disk_chart" class="nmon-chart"></div>
                                    <div id="network_chart" class="nmon-chart"></div>
                                    <div id="nfs_chart" class="nmon-chart"></div>
                                    <div id="process_cpu_chart" class="nmon-chart"></div>
                                    <div id="process_mem_chart" class="nmon-chart"></div>
                                    <!-- Sample process bubble chart 
                                       - Simple bubble chart test case from http://bl.ocks.org/mbostock/4063269
                                       - mbostock's block #4063269 -->
                                    <div id="process_bubble_chart" class="nmon-chart">
                                    </div>
                                </div>
                            </div> <!-- end of .row -->
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            Panel Footer
                        </div> <!-- /.panel-footer -->
                    </div> <!-- /.panel -->
                </div> <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <% include partials/example-d3brushzoom %>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<script type="text/javascript">
$(document).ready(function(){
  $('#analyze-period').daterangepicker({
    "autoApply": false,
    "ranges": {
        'Today': [moment().startOf('day'), moment().endOf('hour')],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        'Last 3 Months': [moment().subtract(3, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
        'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'This Year': [moment().startOf('year'), moment().endOf('year')]
    },
    "locale": {
        "format": "YYYY-MM-DD HH:mm",
        "separator": " - ",
        "applyLabel": "Apply",
        "cancelLabel": "Cancel",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel": "W",
        "daysOfWeek": [
            "Su",
            "Mo",
            "Tu",
            "We",
            "Th",
            "Fr",
            "Sa"
        ],
        "monthNames": [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ],
        "firstDay": 1
    },
    "alwaysShowCalendars": true,
    "opens" : "center",
    "startDate": moment().subtract(2, 'hours').format('YYYY-MM-DD HH:mm'),
    "endDate": moment().endOf('hour').format('YYYY-MM-DD HH:mm'),
    timePicker: true,
    timePickerIncrement: 10
  }, function(start, end, label) {
    //console.log('New date range selected: ' + start.format('YYYY-MM-DD') 
    //          + ' to ' + end.format('YYYY-MM-DD') 
    //          + ' (predefined range: ' + label + ')');
  });

  $('#analyze-period').on('apply.daterangepicker', function(ev, picker) {
    //console.log(picker.startDate.format('YYYY-MM-DD HH:mm:ss.SSS'));
    //console.log(picker.endDate.format('YYYY-MM-DD HH:mm:ss.SSS'));
    createSlider('#period-navigator');
  });

  if (DEBUG) console.log($('#analyze-period').data('daterangepicker').startDate + ','
                       + $('#analyze-period').data('daterangepicker').endDate);


  // dateRangeSlider's bounds method does now work
  // so destroy it and create it again
  var isDateRangeSliderCreated = {};
  function createSlider(did) {
    // destroy if already exist.
    if (isDateRangeSliderCreated[did]) $(did).dateRangeSlider('destroy');

    $(did).dateRangeSlider({
      defaultValues: {
        min: $('#analyze-period').data('daterangepicker').startDate, 
        max: $('#analyze-period').data('daterangepicker').endDate
      },
      bounds: {
        min: $('#analyze-period').data('daterangepicker').startDate, 
        max: $('#analyze-period').data('daterangepicker').endDate
      },
      durationIn: 1000,
      durationOut: 1000,
      valueLabels:"show",      // set 'change' to automatically hide
      formatter:function(val){
        return moment(val).format('YYYY-MM-DD HH:mm');
      }
    });

    isDateRangeSliderCreated[did] = true;
  }

  createSlider('#period-navigator');
});

</script>
    <!-- nmon-db-client.js -->
    <% include partials/nmdb-footer %>
    <script src="dist/js/nmon-db-client.js"></script>
</body>
</html>
