<!DOCTYPE html>
<html lang="en_US">

<head>
    <% include partials/nmdb-head %>
    <link href="dist/lib/jquery.filer/css/jquery.filer.css" type="text/css" rel="stylesheet" />
    <link href="dist/lib/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css?v=1.2" type="text/css" rel="stylesheet" />
    <link href="dist/css/nmon-db-file-uploader.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <% include partials/nmdb-nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-area-chart fa-fw"></i> Nmon Charts</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-calendar fa-fw"></i> Time window
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
     <div>
     <table>
        <tr>
            <td>&nbsp;</td>
            <th><label for="from">From</label></th>
            <th><label for="to"> To </label></th>
            <th>&nbsp;&nbsp;</th>
            <th width="300">Range</th>
        </tr>
        <tr>
            <th>Date&nbsp;</th>
            <td><input type="text" id="from" maxlength="10" size="10"></td>
            <td><input type="text" id="to" maxlength="10" size="10"></td>
            <td>&nbsp;&nbsp;</td>
            <td><div id="slider-range-date"></div></td>
        </tr>
        <tr>
            <th>Time&nbsp;</th>
            <td><input type="text" id="from_time" maxlength="8" size="10"</td>
            <td><input type="text" id="to_time" maxlength="8" size="10"</td>
            <td>&nbsp;&nbsp;</td>
            <td><div id="slider-range-time"></div></td>
        </tr>
    </table>
    </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Nmon Charts
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
    <table>
        <tr>
            <th>
                <label for="hosts">Hosts &nbsp;</label>
            </th>
            <td>
                <select name="hosts" id="hosts">
                </select>
            </td>
            <td>&nbsp;</td>
            <td align="center">
                <button type="button" id="view">View</button>
            </td>
            <td>&nbsp;</td>
            <td align="left">
                <a href="/detail" style="float: right;">Detailed View</a>
            </td>
        </tr>
     </table>

<table style="display: inline-block; height: 669px;">
<td >
<div id="tabs">
    <ul>
        <!--<li><a href="#hosts_chart">Hosts</a>-->
        <li><a href="#cpu_chart">CPU</a>
        <li><a href="#mem_chart">Memory</a>
        <li><a href="#swap_chart">Swap</a>
        <li><a href="#disk_chart">Disk</a>
        <li><a href="#network_chart">Network</a>
        <li><a href="#nfs_chart">NFS</a>
        <li><a href="#process_cpu_chart">Process CPU Usage</a>
        <li><a href="#process_mem_chart">Process Memory Usage</a>
        <li><a href="#process_bubble_chart">Process Bubble Chart</a>
    </ul>
    <div id="cpu_chart" class="nmon-chart">
        <svg></svg>
    </div>
    <div id="mem_chart" class="nmon-chart">&nbsp;</div>
    <div id="swap_chart" class="nmon-chart">&nbsp;</div>
    <div id="disk_chart" class="nmon-chart">&nbsp;</div>
    <div id="network_chart" class="nmon-chart">&nbsp;</div>
    <div id="nfs_chart" class="nmon-chart">&nbsp;</div>
    <div id="process_cpu_chart" class="nmon-chart">&nbsp;</div>
    <div id="process_mem_chart" class="nmon-chart">&nbsp;</div>
    <!-- Sample process bubble chart 
       - Simple bubble chart test case from http://bl.ocks.org/mbostock/4063269
       - mbostock's block #4063269 -->
    <div id="process_bubble_chart" class="nmon-chart">
    </div>
</div>
</td></table>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Nmon data file upload
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <b>Nmon data file upload: </b>
                            <br><br>
                            <!-- action is manipulated by jquery.filer -->
                            <form action="managed by jquery.filer" method="post" enctype="multipart/form-data" class="text-center">

                                <input type="file" name="nmon-data-files[]" id="nmon-upload-files" multiple="multiple">
                                <input type="submit" class="btn-custom green" value="Submit">
                            </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <% include partials/example-d3brushzoom %>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- nmon-db-client.js -->
    <script src="dist/js/nmon-db-client.js"></script>
    <script src="dist/lib/jquery.filer/js/jquery.filer.js"></script>
    <script src="dist/js/nmon-data-files-upload.js"></script>
    <% include partials/nmdb-footer %>
</body>

</html>
