<!DOCTYPE=html>
<html lang="en_US">
<head>
    <meta charset="UTF-8">
    <meta name="title" content="Nmon.io Dashboard - Dashboard, Report and Analyze service for your nmon data">
    <meta name="description" content="nmon. website providing nmon dashboard, report and analyze service in cloud">
    <meta name="keywords" content="Nmon,nmon analyzer,nmon report,Linux,AIX,Solaris,sarmon,topas_nmon,server,database server">
    <meta name="author" content="Junkoo Hea">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script type="text/javascript">
        var curResType = "CPU";
        var reqStatus = { "CPU" : false,
                          "MEM" : false,
                          "SWAP" : false,
                          "NET" : false, 
                          "NFS" : false,
                          "PROCESS_CPU" : false,
                          "PROCESS_MEM" : false};
        function isLoading( restype ) {
          return reqStatus[restype];
        }

        function getCurResType() {
          return curResType;
        }

        function setCurResType(newResType) {
          curResType = newResType;
        }
 
        function getHosts(category) {
                $.ajax({
                url: "/All/" + category + "/hosts",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    var html = '<option value="All">All</option>';
                    for (var i = 0; i < result.length; i++) {
                        html += '<option value="' + result[i] + '">' + result[i] + '</option>';
                    }
                    $("#hosts").html(html);
                }
            });
        }

        function drawChart(did, x, y, label, row, stack) {
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', x);
            for(var i = 0; i < y.length; i++) {
                data.addColumn('number', y[i]);
            }
            for(var i = 0; i < row.length; i++) {
                row[i][0] = new Date(row[i][0]);
            }
            data.addRows(row);

            var options = {
                vAxis: { title : label },
                isStacked: stack,
                chartArea: {  width: "75%", height : '80%' },
            };

            var chart = new google.visualization.AreaChart(document.getElementById(did));
            chart.draw(data, options);
        }

        function drawPieChart(did, data, title) {
            var data = google.visualization.arrayToDataTable(data);

            var options = {
                title: title,
                pieSliceText: 'label',
                pieHole: 0.4,
                chartArea: {  width: "95%", height : '85%' }
            };

            var chart = new google.visualization.PieChart(document.getElementById(did));
            chart.draw(data, options);
        }

        function updateGraph(hostname, restype, fromDate, toDate) {
            var start = new Date();
            // cpu
            if ( restype == "CPU" || restype == "ALL" ) {
            reqStatus["CPU"] = true;
            console.log("[Requesting CPU data] " + start.toLocaleString() );
            $.ajax({
                url: "/" + hostname + "/CPU_ALL?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['User%25', 'Sys%25', 'Wait%25']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    reqStatus["CPU"] = false;
                    drawChart("cpu_chart", "time", ['User%', 'Sys%', 'Wait%'], '%', result, true);
                    console.log('  CPU chart response: ' + ( (+new Date() - +start))/1000 + ' secs' );
                }
            });
            }

            // memory
            if ( restype == "MEM" || restype == "ALL" ) {
            reqStatus["MEM"] = true;
            console.log("[Requesting MEM data] " + start.toLocaleString() );
            $.ajax({
                url: "/" + hostname + "/MEM?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['Real total(MB)', 'Real free(MB)']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    reqStatus["MEM"] = false;
                    for(var i = 0; i < result.length; i++) {
                        result[i][2] = result[i][1] - result[i][2];
                    }
                    drawChart("mem_chart", "time", ['Real total(MB)', 'Real used(MB)'], 'MB', result, false);
                    console.log('  MEM chart response: ' + ( (+new Date() - +start))/1000 + ' secs' );
                }
            });
            }

            // swap
            if ( restype == "SWAP" || restype == "ALL" ) {
            reqStatus["SWAP"] = true;
            console.log("[Requesting SWAP data] " + start.toLocaleString() );
            $.ajax({
                url: "/" + hostname + "/MEM?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['Virtual total(MB)', 'Virtual free(MB)']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    reqStatus["SWAP"] = true;
                    for(var i = 0; i < result.length; i++) {
                        result[i][2] = result[i][1] - result[i][2];
                    }
                    drawChart("swap_chart", "time", ['Virtual total(MB)', 'Virtual used(MB)'], 'MB', result, false);
                    console.log('  SWAP chart response: ' + ( (+new Date() - +start))/1000 + ' secs' );
                }
            });
            }

            // disk
            if ( restype == "DISK" || restype == "ALL" ) {
            reqStatus["DISK"] = true;
            console.log("[Requesting DISK data] " + start.toLocaleString() );
            $.ajax({
                url: "/" + hostname + "/DISK_TOTAL?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['read', 'write']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    reqStatus["DISK"] = true;
                    drawChart("disk_chart", "time", ['read', 'write'], 'KB/s', result, true);
                    console.log(' DISK chart response:' + ( (+new Date() - +start))/1000 + ' secs' );
                }
            });
            }

            // network
            if ( restype == "NET" || restype == "ALL" ) {
            reqStatus["NET"] = true;
            console.log("[Requesting NET data] " + start.toLocaleString() );
            $.ajax({
                url: "/" + hostname + "/NET_TOTAL?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&data=['read', 'write']",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    reqStatus["NET"] = true;
                    drawChart("network_chart", "time", ['read', 'write'], 'KB/s', result, true);
                    console.log(' NET chart response :' + ((+new Date() - +start))/1000 + ' secs' );
                }
            });
            }

            // process cpu usage
            if ( restype == "PROCESS_CPU" || restype == "ALL" ) {
            reqStatus["PROCESS_CPU"] = true;
            console.log("[Requesting PROCESS_MEM data] " + start.toLocaleString() );
            $.ajax({
                url: "/" + hostname + "/TOP?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&type=cpu",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    reqStatus["PROCESS_CPU"] = true;
                    drawPieChart("process_cpu_chart", data, "Process usage by CPU");
                    console.log(' PROCESS_CPU chart response: ' +((+new Date() - +start))/1000 + ' secs' );
                }
            });
            }

            // process mem usage
            if ( restype == "PROCESS_MEM" || restype == "ALL" ) { 
            reqStatus["PROCESS_MEM"] = true;
            console.log("[Requesting PROCESS_MEM data] " + start.toLocaleString() );
            $.ajax({
                url: "/" + hostname + "/TOP?date=[" + fromDate.getTime() + "," + toDate.getTime() + "]&type=mem",
                data: {},
                success: function( data ) {
                    var result = eval(data);
                    reqStatus["PROCESS_MEM"] = true;
                    drawPieChart("process_mem_chart", data, "Process usage by MEM");
                    console.log(' PROCESS_MEM chart respose: ' + ((+new Date() - +start))/1000 + ' secs' );
                }
            });
            }
        }

        $(function() {
            getHosts('CPU_ALL');
            var today = new Date();
            $("#from").val((today.getMonth() + 1) + "/" + today.getDate() + "/" + today.getFullYear());
            $("#to").val("now");
            $("#view").click(function(event) {
                var fromDate, toDate;

                fromDate = new Date($("#from").val() + " " + $("#from_time").val());

                if ($("#to").val() !== "now")
                    toDate = new Date($("#to").val() + " " + $("#to_time").val());
                else
                    toDate = new Date();
                updateGraph($("#hosts").val(), curResType, fromDate, toDate)
            });
            var fromDate = new Date($("#from").val());
            var toDate = new Date();
            // First Tab is "CPU" so just call CPU
            updateGraph("All", "CPU", fromDate, toDate);
        });
    </script>
    <style>
        body {
          font-family: "Tahoma", "Helvetica", "Arial",  "Verdana", "sans-serif";
//          font-size: 10px;
        }

        text {
//          font: 12pt sans-serif;
        }

        .ui-widget {
            font-size: 8pt; 
        }

        .ui-tabs .ui-tabs-nav li a {
            font-size: 8pt;
            font-weight: bold;
        }

        .googlechart {
            border-size:1px;
            border-style:dotted;
            border-radius:10px;
            border-color:black;
            font-size:12pt;
            padding:0px;
            margin-top:0px;
            margin-bottom:0px;
            margin-left:0px;
            margin-right:0px;
            width: 1024px;
            height: 600px;
        }

    </style>
    <script>
    // Debug helper funtion
    function printObject( obj ) {
       var output = "", property; 
       for ( property in obj ) {
         output += property + ": " + obj[property] + "; ";
       }
       console.log( "Print object's properties: " + output ); 
    }

    $(function() {
      $( "#from" ).datepicker({
        defaultDate: "-7m",
        changeMonth: true,
        changeYear: true,
        maxDate: "0",
        numberOfMonths: 1,
        selectOtherMonths: true,
        showOtherMonths: true,
        onClose: function( selectedDate ) {
          $( "#to" ).datepicker( "option", "minDate", selectedDate );
        }
      });
      $( "#to" ).datepicker({
        defaultDate: "0",
        changeMonth: true,
        changeYear: true,
        maxDate: "0",
        numberOfMonths: 1,
        selectOtherMonths: true,
        showOtherMonths: true,
        onClose: function( selectedDate ) {
          $( "#from" ).datepicker( "option", "maxDate", selectedDate );
        }
      });

      /*
       * TODO: This is just POC version
       *       Have to consider long days analysis
       *       1 time frame is 5 mins now.
       */
       $("#slider-range-date").slider({
        min: 0,
        max: 365*3,
        values: [0, 365*3 ],
        slide: function( event, ui ) {
        }
      });

      $( "#slider-range-time" ).slider({
        range: true,
        min: 0,
        max: 60*24*2/5,
        values: [ 0, 60*24*2/5 - 1  ],
        slide: function( event, ui ) {
          // TODO: need to process 24:00 => 23:59:59
          var min = 0, max = 60*24*2/5,
              hour = 0, hourstr, min = 0, minstr;

          if (ui.values[0] > max/2) {
            $( "#slider-range-time" ).slider("values", 0, max / 2);
            hour = max/2*5/60;
            ui.values[0] = max/2;

            // Just workaround, folowing refresh generates javascript error.
            // But, it works as I wanted... :-) youngmo 2015.8.16.
            $( "#slider-range-time" ).slider("refresh");
          } else {
            hour = Math.floor(ui.values[0]*5/60);
          }
          if ( hour < 10 ) hourstr = "0" + hour;
          else hourstr = "" + hour;
          min = (ui.values[0]*5)%60;
          if ( min < 10 ) minstr = "0" + min;
          else minstr = "" + min;
          $( "#from_time" ).val( hourstr + ":" + minstr );

          if (ui.values[1] < max/2) {
            $( "#slider-range-time" ).slider("values", 1, max /2 );
            hour = max/2*5/60;
            ui.values[1] = max/2;
            // Just workaround, folowing refresh generates javascript error.
            // But, it works as I wanted... :-) youngmo 2015.8.16.
            $( "#slider-range-time" ).slider("refresh");
          } else {
            hour = Math.floor((ui.values[1]-max/2)*5/60);
          }
          if ( hour < 10 ) hourstr = "0" + hour;
          else hourstr = "" + hour;
          min = ((ui.values[1]-max/2)*5)%60
          if ( min < 10 ) minstr = "0" + min;
          else minstr = "" + min;
          $(   "#to_time" ).val( hourstr + ":" + minstr );
        }
      });
      $( "#from_time" ).val( "00:00" );
      $(   "#to_time" ).val( "23:59:59" );
   });

   $(function() {
     $("#tabs").tabs( {
       // event: "mouseover"
       beforeActivate: function( event, ui ) {
          var newTab = ui.newTab.context.innerText;

          // Same code with View clicked event handler need to merge to one
          var fromDate, toDate;

          fromDate = new Date($("#from").val() + " " + $("#from_time").val());

          if ($("#to").val() !== "now")
            toDate = new Date($("#to").val() + " " + $("#to_time").val());
          else
            toDate = new Date();

          var curRes = getCurResType();
          switch ( newTab ) {
            case "CPU": 
              curRes = "CPU"; 
              setLoading("cpu_chart", curRes, "Loading CPU chart. Wait a moment..."); 
              break;
            case "Memory": 
              curRes = "MEM"; 
              setLoading("mem_chart", curRes, "Loading Memory chart. Wait a moment..."); 
              break;
            case "Swap": 
              curRes = "SWAP";
              setLoading("swap_chart", curRes, "Loading SWAP chart. Wait a moment..."); 
              break;
            case "Disk": 
              curRes = "DISK";
              setLoading("disk_chart", curRes, "Loading DISK chart. Wait a moment..."); 
              break;
            case "Network": 
              curRes = "NET";
              setLoading("network_chart", curRes, "Loading Network chart. Wait a moment..."); 
              break;
            case "NFS": 
              curRes = "NFS";
              setLoading("nfs_chart", curRes, "NFS Chart is currently not served !!!! Try other charts. "); 
              break;
            case "Process CPU Usage": 
              curRes = "PROCESS_CPU"; 
              setLoading("process_cpu_chart", curRes, "Loading Process usage by CPU chart. Wait a moment..."); 
              break;
            case "Process Memory Usage": 
              curRes = "PROCESS_MEM"; 
              setLoading("process_mem_chart", curRes, "Loading Process usage by memory chart. Wait a moment..."); 
              break;
            case "Bubble Chart Example": 
              draw_bubble_chart(); 
              curRes = "NONE";
              break;
            default:
              curRes = "NONE";
              break;
          }
          console.log( "[Calling updateGraph from UI-tab] " + 
                       "Hosts: " + $("#hosts").val() +
                       ", Tab: " + curRes +
                       ", From: " + fromDate.toLocaleString() +
                       ", To: " + toDate.toLocaleString() );
          updateGraph($("#hosts").val(), curRes, fromDate, toDate);
       }
     });
  });
  
  function setLoading(areaid, reqResType, message) {
    var areaelem = document.getElementById(areaid);
    var proghtml = '<div id="' + areaid + '_progressbar' + '" style="position: relative;">'
                 + '  <div class="' + areaid + '_progresslabel' + '" style="position: absolute; left: 15%; top: 4px; font-weight: bold; text-shadow: 1px 1px 0 #fff;"></div>'
                 + '</div>';
    areaelem.innerHTML = proghtml;

    var progressBar = $( "#" + areaid + "_progressbar" ),
        progressLabel = $( "." + areaid + "_progresslabel" );

    progressBar.progressbar( {
      value: false,
      change: function() {
        progressLabel.text( progressbar.progressbar( "value" ) + "%" );
      },
      complete: function() {
        progressLabel.text( "Complete!" );
        progressBar.progressbar( "value", 100 );
        console.log( '[Progress Bar]' + reqResType + ' loading is completed... from progress bar' );
      }
    });
    progressBarValue = progressBar.find( ".ui-progressbar-value" );
    progressBarValue.css( {"background" : "#FFFF80" } );
    progressLabel.text ( message );
    setCurResType(reqResType);

    function loading() {
      var val = progressBar.progressbar( "value" ) || 0;

      if ( isLoading(reqResType) == true ||  val < 100 ) {
        setTimeout( loading, 100 );
      } else {
        console.log( '[Progress Bar]' + reqResType + ' loading is completed... from progress bar' );
      }
    }

    setTimeout(loading, 100);
  };
</script>
<script>
function draw_bubble_chart() {
var diameter = 800,
    format = d3.format(",d"),
    color = d3.scale.category20c();

var bubble = d3.layout.pack()
    .sort(null)
    .size([diameter, diameter])
    .padding(1.5);

// bubble chart location modified by youngmo 2015.8.17. 05:26 AM
    document.getElementById("bubble_chart_area").innerHTML = "";

var svg = d3.select("#bubble_chart_area").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .attr("class", "bubble");

console.log("Drawing bubble chart");
// get process.json file
d3.json("process.json", function(error, root) {
  if (error) throw error;

  var node = svg.selectAll(".node")
      .data(bubble.nodes(classes(root))
      .filter(function(d) { return !d.children; }))
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  node.append("title")
      .text(function(d) { return d.className + ": " + format(d.value); });

  node.append("circle")
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { return color(d.packageName); });

  node.append("text")
      .attr("dy", ".3em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.className.substring(0, d.r / 3); });
});

// Returns a flattened hierarchy containing all leaf nodes under the root.
function classes(root) {
  var classes = [];

  function recurse(name, node) {
    if (node.children) node.children.forEach(function(child) { recurse(node.name, child); });
    else classes.push({packageName: name, className: node.name, value: node.size});
  }

  recurse(null, root);
  return {children: classes};
}

// Select where to display. modfied by youngmo
d3.select(self.frameElement).style("height", diameter + "px");
}
</script>
</head>
<body>
<h3><font color=blue>Nmon.io Dashboard</font></h3>
<div>
  <table width="100%">
    <tr>
    <td>
    <table>
        <tr>
            <th>
                <label for="hosts">Hosts</label>
            </th>
            <td>
                <select name="hosts" id="hosts">
                </select>
            </td>
            <td align="center">
                <button type="button" id="view">View</button>
            </td>
            <td>&nbsp;</td>
            <td align="left">
                <a href="/detail" style="float: right;">Detailed View</a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <th><label for="from">From</label></th>
            <th><label for="to"> To </label></th>
            <th>&nbsp;&nbsp;</th>
            <th width="300">Range</th>
        </tr>
        <tr>
            <th>Date</th>
            <td><input type="text" id="from" maxlength="10" size="10"></td>
            <td><input type="text" id="to" maxlength="10" size="10"></td>
            <td>&nbsp;&nbsp;</td>
            <td><div id="slider-range-date"></div></td>
        </tr>
        <tr>
            <th>Time</th>
            <td><input type="text" id="from_time" maxlength="8" size="10"</td>
            <td><input type="text" id="to_time" maxlength="8" size="10"</td>
            <td>&nbsp;&nbsp;</td>
            <td><div id="slider-range-time"></div></td>
        </tr>
    </table>
  </td>
  <td width="320" align="right">
<!-- Google AdSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- db.nmon.io - 320x100 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-7660708060036828"
     data-ad-slot="3178966548"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </td>
  </tr>
</table>
</div>
<div id="tabs">
    <ul>
        <li><a href="#cpu_chart">CPU</a>
        <li><a href="#mem_chart">Memory</a>
        <li><a href="#swap_chart">Swap</a>
        <li><a href="#disk_chart">Disk</a>
        <li><a href="#network_chart">Network</a>
        <li><a href="#nfs_chart">NFS</a>
        <li><a href="#process_cpu_chart">Process CPU Usage</a>
        <li><a href="#process_mem_chart">Process Memory Usage</a>
        <li><a href="#overall">Overall</a>
        <li><a href="#bubble_chart">Bubble Chart Example</a>
    </ul>
    <div id="overall" class="googlechart">
            <h4><font color=blue>CPU</font></h4>
            <h4><font color=blue>Memory</font></h4>
            <h4><font color=blue>Swap</font></h4>
            <h4><font color=blue>Disk</font></h4>
            <h4><font color=blue>Network</font></h4>
            <h4><font color=blue>NFS</font></h4>
            <h4><font color=blue>Process (CPU)</font></h4>
            <h4><font color=blue>Process (Memory)</font></h4>
    </div>
    <div id="cpu_chart" class="googlechart">&nbsp;</div>
    <div id="mem_chart" class="googlechart">&nbsp;</div>
    <div id="swap_chart" class="googlechart">&nbsp;</div>
    <div id="disk_chart" class="googlechart">&nbsp;</div>
    <div id="network_chart" class="googlechart">&nbsp;</div>
    <div id="nfs_chart" class="googlechart">&nbsp;</div>
    <div id="process_cpu_chart" class="googlechart">&nbsp;</div>
    <div id="process_mem_chart" class="googlechart">&nbsp;</div>
    <div id="bubble_chart" class="googlechart">
        <p>Simple bubble chart test case from http://bl.ocks.org/mbostock/4063269<br>
           - mbostock's block #4063269
        </p>
        <div id="bubble_chart_area"></div>
    </div>
</div>
<!-- Google AdSense -->
<p></p><p></p>
<center>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- http://db.nmon.io -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-7660708060036828"
         data-ad-slot="9822759341"></ins>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>

<!-- Google Analytics -->
<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65631359-3', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
